<section
  class="p-8 grid gap-10 md:gap-5 lg:gap-10 md:grid-cols-2 md:p-14 lg:p-[140px] items-center"
>
  <img src="assets/images/body1.svg" alt="" />

  <div>
    <div>
      <p class="text-green">About us</p>
    </div>

    <h2 class="text-black mt-4">
      Changing the View of Medical Equipment Finanzing.
    </h2>

    <p class="text-lblack mt-2">
      We provide African healthcare facilities with cutting-edge medical
      equipment to provide the best quality of care to their patients - with
      financing, maintenance and support.
    </p>
  </div>
</section>
