<header class="">
  <div class="">
    <p class="text-sm text-green">INVESTORS</p>

    <h1 class="mt-2 text-white max-w-[550px]">
      Invest in Medical equipment for African Healthcare and get ROI
    </h1>

    <p class="text-white mt-2 md:text-lg max-w-[500px]">
      We provide African healthcare facilities with cutting-edge medical
      equipment to provide the best quality of care to their patients - with
      financing, maintenance and support.
    </p>

    <div class="mt-6 flex flex-wrap gap-3">
      <button class="bg-[#70FFE5] btn">Get Started</button>
      <button class="btn bg-white">Read More</button>
    </div>
  </div>
</header>
