header {
  background-image: url(../../../assets/images/header-bg.png),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-blend-mode: overlay;
  background-size: cover;
  height: calc(100vh - 83px);

  @apply p-5 sm:p-6 md:p-10 xl:p-20 flex items-center;
}

.btn {
  @apply px-4 lg:px-6 py-3 rounded-md;
}

h1 {
  @apply text-3xl lg:text-5xl 2xl:text-[65px] 2xl:leading-[70px];
}
