<section class="pad-x pad-y">
  <div class="p-6 md:p-10 2xl:p-20 bg-white">
    <div
      class="px-2 5 py-[2px] rounded-[150px] bg-lgreen text-green text-sm w-fit mx-auto"
    >
      CE Support
    </div>

    <h2 class="text-black mt-2 text-center">
      We're on a Mission to Change View of Medical Equipment Financing.
    </h2>

    <p class="mt-4 text-center">
      Our services are designed to cater to your specific needs and goals
    </p>

    <div class="grid lg:grid-cols-2 gap-5 xl:gap-10 2xl:gap-20 mt-6">
      <div class="grid gap-5">
        <div class="grid gap-1">
          <img class="w-[60px]" src="assets/images/investment.png" alt="" />

          <h5 class="font-medium text-black text-xl md:text-2xl">Investment</h5>

          <p class="text-[#42526B]">
            When unknown printer took galley of type and scrambled.
          </p>
        </div>

        <div class="grid gap-1">
          <img class="w-[60px]" src="assets/images/payment.png" alt="" />

          <h5 class="font-medium text-black text-xl md:text-2xl">
            Secure Payment
          </h5>

          <p class="text-[#42526B]">
            When unknown printer took galley of type and scrambled.
          </p>
        </div>

        <div class="grid gap-1">
          <img class="w-[60px]" src="assets/images/messaging.png" alt="" />

          <h5 class="font-medium text-black text-xl md:text-2xl">Messaging</h5>

          <p class="text-[#42526B]">
            On mobile, customers can send text, or audio messages to agents,
            like using any messaging app
          </p>
        </div>
      </div>

      <img src="assets/images/gallery.png" alt="" />
    </div>
  </div>
</section>
