<nav class="pad-x py-4 flex justify-between items-center bg-white sticky top-0">
  <img class="w-[150px] md:w-[unset]" src="assets/images/navlogo.png" alt="" />

  <div class="hidden lg:flex gap-8 xl:gap-10 2xl:gap-14 items-center">
    <a href="#">Products</a>
    <a href="#">Resources</a>
    <a href="#">Company</a>
  </div>

  <div class="flex items-center gap-4">
    <a href="#">Login</a>

    <button class="g-btn hidden md:flex gap-2">
      <img src="assets/images/user-icon.png" alt="" />
      <span>Become an Investor</span>
    </button>
  </div>
</nav>
