<section
  class="grid gap-10 md:gap-5 lg:gap-10 p-8 md:p-10 lg:p-20 md:grid-cols-2 items-center"
>
  <div class="md:p-4 lg:p-10 2xl:p-14">
    <h2 class="text-black">
      Increasing Access to Quality <br class="x-br" />
      <span class="text-green">life-saving machines</span>
    </h2>

    <p class="text-lblack my-2">
      We assist with financing to minimise upfront costs as well as operational
      and maintenance support. This helps you get the most out of the equipment
      and ensure the best quality care to your patients and the public.
    </p>

    <app-list-item
      [list]="[
        'Est et in pharetra magna adipiscing ornare aliquam.',
        'Tellus arcu sed consequat ac velit ut eu blandit.',
        'Ullamcorper ornare in et egestas dolor orci.'
      ]"
    />

    <div class="mt-6 flex flex-wrap gap-3">
      <button class="g-btn">Get Started</button>
      <button class="o-btn">Know More</button>
    </div>
  </div>

  <img src="assets/images/body5.png" alt="" />
</section>
