<section class="grid gap-10 md:gap-5 lg:gap-10 md:grid-cols-2 items-center">
  <div class="p-8 md:p-14 lg:p-20">
    <h2 class="text-black">
      <span class="text-green"
        >Invest in Medical <br class="x-br" />
        equipment</span
      >
      for African <br class="x-br" />
      healthcare
    </h2>

    <p class="text-lblack mt-2">
      We provide African healthcare facilities with cutting-edge medical
      equipment to provide the best quality of care to their patients - with
      financing, maintenance and support.
    </p>

    <div class="mt-6 flex flex-wrap gap-3">
      <button class="g-btn">Get Started</button>
      <button class="o-btn">Know More</button>
    </div>
  </div>

  <img src="assets/images/body3.svg" alt="" />
</section>
