<section class="pad-x pad-y">
  <div class="grid md:grid-cols-[40%_1fr] gap-6 items-center">
    <img
      src="assets/images/body2.png"
      class="w-[80%] mx-auto md:mx-[unset] md:w-full max-w-[450px]"
      alt=""
    />

    <div class="lg:w-[80%] max-w-[750px] lg:ml-auto">
      <h2>Explore Our Product</h2>
      <p class="mt-2">
        Nunc convallis semper justo quis tempor. Praesent molestie, lorem sed
        imperdiet tempor, libero urna semper urna, facilisis vulputate velit
        arcu vitae mi. Donec ac nisi ex.
      </p>
    </div>
  </div>
</section>
