<section
  class="grid gap-10 md:gap-5 lg:gap-10 p-8 md:p-10 lg:p-20 md:grid-cols-2 items-center"
>
  <img src="assets/images/body4.png" alt="" />

  <div class="md:p-4 lg:p-10 2xl:p-20">
    <h2 class="text-black">
      Cloud Equipment <br class="x-br" />
      <span class="text-green">Support.</span>
    </h2>

    <p class="text-lblack my-2">
      Other VAS including maintenance, insurance, repairs, marketing/branding,
      etc
    </p>

    <app-list-item
      [list]="[
        'Interdum volutpat turpis malesuada ac turpis.',
        'Tortor ipsum pretium quis nunc.',
        'Vitae odio a id purus in.'
      ]"
    />

    <div class="mt-6 flex flex-wrap gap-3">
      <button class="g-btn">Get Started</button>
      <button class="o-btn">Know More</button>
    </div>
  </div>
</section>
